{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Shadows+Into+Light&display=swap' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
    <title>Crime combating website</title>
</head>

<body>

    <!-- -----------------------MAIN CONTAINER------------------------------ -->

    <div class="container">

        <!-- --------------------NAVBAR------------------------ -->

        <div id="home">

            <ul class="nav">

                <ul class="nav">

                    <a class="logo" href="{% url 'home' %}">

                        <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuuUIhCGnmFABsytCEaj4Xn1DQUI4jxIRSXRzwJTsSG5VO-0wxUup72mC2XEi2LLq60o8&usqp=CAU" width="30px">

                        <h3>Tech Zone</h3>

                    </a>

                    <div class="links">

                        <div class="link">

                            <li><a href="{% url 'home' %}">home</a></li>

                            <li><a href="{% url 'gallery' %}"> gallery</a></li>

                            <li><a href="{% url 'tool' %}">tools</a></li>

                            <li><a href="{% url 'read_more' %}">read</a></li>

                            <li><a href="{% url 'contact' %}">contact </a></li>

                        </div>

                        <div class="sign">

                            <a href="{% url 'signin' %}"><span></span>signin</a></li>

                        </div>

                    </div>

                </ul>

            </ul>

            <!-- --------------------BANNER PAGE-1------------------------ -->

            <div class="banner">

                <div class="red-background"></div>

                <div class="overlay">

                    <div class="text">

                        <h1>The future</h1>

                        <p>

                            Many law enforcement agencies are facing a
                            future of reduced funding. Powerful new
                            technologies provide a way for forces to operate
                            and serve their communities more efficiently.
                            The use of technology in law enforcement
                            and crime prevention is developing rapidly-from drones
                            and predictive analytics to biometrics- they are all
                            helping to keep our cities and rural communities safer.

                        </p>

                    </div>

                </div>


                <!-- --------------------QUICK LINKS------------------------ -->

                <div class="quick-links">

                    <ul>

                        <li><i class="fa fa-share-alt"></i>

                            <p>SHARE TO</p>

                        </li>

                        <li><i class="fa fa-audio-description"></i>

                            <p>RECENT NEWS</p>

                        </li>

                        <li><i class="fa fa-cog"></i>

                            <p>ANALYTICS</p>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

        
        <!------------------------------SOCIAL LINKS------------------------ -->

        <div class="social-links">

                <a href="https://web.facebook.com/"><i class="fa a fa-facebook-f"></i></a>

                <a href="https://www.linkedin.com/"><i class="fa b fa-linkedin"></i></a>

                <a href="https://twitter.com/"><i class="fa c fa-twitter"></i></a>

                <a href="https://www.instagram.com/"><i class="fa d fa-instagram"></i></a>


        </div>


        <div class="margin-bottom"></div>



        <!-- ------------------------DATA-BASE------------------------------ -->

        <div id="database">

            <table>

                <h1>sample of a criminal file</h1>

                <caption>here is a typical database of a criminal file</caption>



                <tr>

                    <th>Field Name </th>

                    <th>Data Type </th>

                    <th>Field Size </th>

                </tr>

                <tr>

                    <td>Case No </td>

                    <td>Text </td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Name </td>

                    <td>Text </td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Crime</td>

                    <td>Text </td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Address </td>

                    <td>Text </td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>State of origin</td>

                    <td>Text </td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>LGA </td>

                    <td>Text </td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Sex </td>

                    <td>Text </td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Age</td>

                    <td>Text </td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>IPO </td>

                    <td>Text</td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Town </td>

                    <td>Text</td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Court </td>

                    <td>Text</td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Verdict </td>

                    <td>Text</td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Cell No</td>

                    <td>Text</td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Arrest date</td>

                    <td>Text</td>

                    <td>50</td>

                </tr>

                <tr>

                    <td>Date Convicted</td>

                    <td>Text</td>

                    <td>50</td>

                </tr>

            </table>

        </div>

        <div class="margin-bottom3"></div>


        <!-- -------------------CONTACT US------------------------ -->
        <div id="contact">
            <div id="contact-btn">
                <h1>Do you have any project in your mind ?</h1>
                <a href="#">Contact Me</a>
            </div>
            <div id="contact-form">
                <form action="" method="POST">
                    <div class="contact-left">
                        <h1 class="c-l-heading">
                            <font style="border-bottom: 3px solid #fff;">writ</font>e Us
                            <div class="mb"></div>
                        </h1>
                        <div class="f-name">
                            <font>Name</font>
                            <input type="text" placeholder="Full Name">
                        </div>
                        <div class="f-email">
                            <font>Email</font>
                            <input type="email" placeholder="Example@hmail.com">
                        </div>
                    </div>
                    <div class="contact-right">
                        <div class="message">
                            <font>Message</font>
                            <textarea name="message" cols="5" rows="20" placeholder="Write Message..."></textarea>
                        </div>
                        <input type="submit" name="">
                    </div>
                </form>
            </div>
        </div>


        <div class="margin-bottom2"></div>


        <footer>
            <h3>all right reserved by eze moses john</h3>
        </footer>

    </div>

</body>

</html>