{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Shadows+Into+Light&display=swap' %}" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'styles/read_more.css' %}">
    <title>Crime combating website</title>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</head>

<body>

    <!-- -----------------------MAIN CONTAINER------------------------------ -->

    <div class="container">

       
            <div id="home">


                    <ul class="nav">

                        <ul class="nav">

                            <a class="logo" href="{% url 'home' %}">

                                <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuuUIhCGnmFABsytCEaj4Xn1DQUI4jxIRSXRzwJTsSG5VO-0wxUup72mC2XEi2LLq60o8&usqp=CAU" width="30px">

                                <h3>Tech Zone</h3>

                            </a>

                            <div class="links">

                                <div class="link">

                                    <li><a href="{% url 'home' %}">home</a></li>

                                    <li><a href="{% url 'gallery' %}"> gallery</a></li>

                                    <li><a href="{% url 'tool' %}">tools</a></li>

                                    <li><a href="{% url 'read_more' %}">read</a></li>

                                    <li><a href="{% url 'contact' %}">contact </a></li>

                                </div>

                                <div class="sign">

                                    <a href="{% url 'signin' %}"><span></span>signin</a></li>

                                </div>

                            </div>

                        </ul>

                    </ul>

                <!-- --------------------BANNER PAGE-1------------------------ -->

                    <div class="banner">

                        <div class="red-background"></div>

                        <div class="overlay">

                            <div class="text">

                                <h1>The future</h1>

                                <p>

                                    Many law enforcement agencies are facing a
                                    future of reduced funding. Powerful new
                                    technologies provide a way for forces to operate
                                    and serve their communities more efficiently.
                                    The use of technology in law enforcement
                                    and crime prevention is developing rapidly-from drones
                                    and predictive analytics to biometrics- they are all
                                    helping to keep our cities and rural communities safer.

                                </p>

                            </div>

                        </div>


                        <!-- --------------------QUICK LINKS------------------------ -->

                        <div class="quick-links">

                            <ul>

                                <li><i class="fa fa-share-alt"></i>

                                    <p>SHARE TO</p>

                                </li>

                                <li><i class="fa fa-audio-description"></i>

                                    <p>RECENT NEWS</p>

                                </li>

                                <li><i class="fa fa-cog"></i>

                                    <p>ANALYTICS</p>

                                </li>

                            </ul>

                        </div>

                    </div>

            </div>

        
            <!------------------------------SOCIAL LINKS------------------------ -->

            <div class="social-links">

                    <a href="https://web.facebook.com/"><i class="fa a fa-facebook-f"></i></a>

                    <a href="https://www.linkedin.com/"><i class="fa b fa-linkedin"></i></a>

                    <a href="https://twitter.com/"><i class="fa c fa-twitter"></i></a>

                    <a href="https://www.instagram.com/"><i class="fa d fa-instagram"></i></a>


            </div>




        <div class="margin-bottom"></div>

 


        <!-- ------------------------ARTIFICIAL-INTELLIGENCE------------------------------ -->

        <div id="read-only">
            <div class="read-now">
                <h4>it's time...</h4>
                <div class="art">
                    <div class="art-left-text">
                        <h1>artificial intelligence.</h1>
                        <h3> a modern way of</h3>
                        <h5>combating crimes</h5>
                        <p>
                            Companies and law enforcement agencies have been experimenting separately with using
                            artificial
                            intelligence to improve their ability to detect and prevent crime. Now, they are
                            increasingly
                            working together – developing shared data platforms, reporting protocols, and feedback
                            loops.
                            Public-private partnerships to fight crime will become increasingly common. Financial
                            institutions, financial intelligence units, and law enforcement are starting to establish
                            public-private partnerships to share data and use AI to detect crime in certain
                            jurisdictions.
                            For instance, in the United Kingdom, the National Crime Agency is working closely with UK
                            Finance to use AI in order to better identify not only financial and economic crime but also
                            improve their ability to use financial information to detect other types of crimes like
                            human
                            trafficking and counterfeiting. Authorities are also increasingly exploring ways to increase
                            the
                            exchange of information and intelligence between the public and private sectors.
                            As organized crime and criminals become more sophisticated and the amount of data available
                            to
                            the private sector continues to increase exponentially, companies and law enforcement will
                            enter
                            even more public-private partnerships to leverage their wealth of data and detect potential
                            criminal activities even more efficiently.
                            THE RISE OF PUBLIC-PRIVATE PARTNERSHIPS IN AI CRIME PREVENTION
                            Companies and law enforcement agencies have been experimenting separately with using
                            artificial
                            intelligence to improve their ability to detect and prevent crime. Now, they are
                            increasingly
                            working together – developing shared data platforms, reporting protocols, and feedback
                            loops.
                            Public-private partnerships to fight crime will become increasingly common. Financial
                            institutions, financial intelligence units, and law enforcement are starting to establish
                            public-private partnerships to share data and use AI to detect crime in certain
                            jurisdictions.
                            For instance, in the United Kingdom, the National Crime Agency is working closely with UK
                            Finance to use AI in order to better identify not only financial and economic crime but also
                            improve their ability to use financial information to detect other types of crimes like
                            human
                            trafficking and counterfeiting. Authorities are also increasingly exploring ways to increase
                            the
                            exchange of information and intelligence between the public and private sectors.
                            As organized crime and criminals become more sophisticated and the amount of data available
                            to
                            the private sector continues to increase exponentially, companies and law enforcement will
                            enter
                            even more public-private partnerships to leverage their wealth of data and detect potential
                            criminal activities even more efficiently.
                        </p>
                        <div class="read">
                            <a href="#">read more</a>
                        </div>
                    </div>
                    <div class="art-right-img">
                        <img src="https://www.pngall.com/wp-content/uploads/2018/03/Robot-PNG-Pic.png"  height="1200px">
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-bottom3"></div>

        <footer>
            <h3>all right reserved by eze moses john</h3>
        </footer>

    </div>

</body>

</html>